<%% title t('<%= plural_name %>.edit') %>

<h1><%%= yield :title %></h1>

<%- if actions? :show, :index -%>
<p>
<%- if action? :show -%>
  <%%= link_to t('general.show'), <%= item_path :instance_variable => true %>, :class => "admin_link" %>
<%- end -%>
<%- if action? :index -%>
  <%%= link_to t('general.back'), <%= items_path %>, :class => "admin_link" %>
<%- end -%>
</p>
<%- end -%>

<%= render_form %>